<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col">
            <p class="text-right"> Hola {{ usuario }}! <a href="/admin/login/logout" style="background-color: rgb(248, 52, 3); border-color:rgb(11, 1, 104)" class="btn btn-sm btn-danger">Cerrar sesión <i class="fa fa-sign-out" aria-hidden="true"></i></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3 style="color: rgb(10, 4, 88);">LISTA DE CONTACTOS</h3>
        </div>

        <div class="col-4 text-right">
            <form style="margin: 10px"  class="form-inline" action="/admin/contactos" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="q" {{#if q}} value="{{q}}" {{/if}}>
                <button style="background-color: rgb(248, 94, 4);" class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <table class="table">
                <thead style="background-color: rgb(4, 4, 95);">
                    <tr style="color: orange;">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Comentario</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {{#each contactos}}
                
                    <tr>
                        <th scope="row">{{ id }}</th>
                        <td>{{ nombre }}</td>
                        <td>{{ email }}</td>
                        <td>{{ comentario }}</td>
                        <td style="display: flex; justify-content:center;"><a style="margin-right: 10px ; background-color:orange; box-shadow: 2px 2px 2px rgb(3, 5, 114);" title="Editar" href="/admin/contactos/modificar/{{id}}" class="btn btn-secondary"><i class="fa fa-pencil" aria-hidden="true"></i></a><a style=" background-color:orange; box-shadow: 2px 2px 2px rgb(3, 5, 114);" href="/admin/contactos/eliminar/{{id}}" title="Eliminar" class="btn btn-secondary"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            {{#if is_search}}
                {{#unless contactos.length}}
                    <p>No se encontraron resultados para "<b>{{q}}</b>"</p>
                {{/unless}}

            {{/if}}
        </div>
    </div>


</div>